h1 {
    text-align:center;
    font-family: Georgia, serif;
    border-bottom: 4px double #ffccff;
    color: #330099;
    font-size: 30px;
}

input[type=text] {
    border: 1px solid #f44c0e;
    padding: 10px 20px;
    border-radius: 3px;
}

input[type=submit] {
    border: 1px solid #f44c0e;
    padding: 10px 20px;
    borderadius: 3px;
}

p.pwd {
text-align: center;
font: bold 20px arial, sans-serif;
color: rgb(0,0,255);
}


